# Ignorar archivos de configuración
.env
.env.*

# Ignorar archivos temporales
*.swp
*~

# Ignorar archivos compilados
/build
/dist

# Ignorar archivos de caché
/node_modules

# Ignorar archivos de IDE
.idea
.vscode