<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baboo Deal Hunt</title>
</head>
<body>
    <h1>Busca los productos de tu preferencia</h1>
    <form action="/search" method="get">
        <input type="text" name="q" placeholder="Busca productos...">
        <button type="submit">Buscar</button>
    </form>

</body>
</html>

