<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>

    <nav>
        <div class="navbar-left">
            <img src="images/LOGO.jpeg" alt="Logo Baboo" class="logo">
            <a href="/" class="app-name">Baboo DealHunt</a>
        </div>
        <div class="navbar-right">
            <a href="/">Buscar</a>
            <a href="/dealhunt">DealtHunt</a>
            <a href="/tracking">Tracking</a>
            <a href="/login">Login/Sign-Up</a>
        </div>
    </nav>

    <div class="supercontainer">
        <div class="container">
            <!-- Register Form -->
            <div class="form-section">
                <h1>Baboo DealHunt</h1>
                <form action="/register" method="POST">
                    <div class="form-group">
                        <label for="name">Nombre Completo</label>
                        <input type="text" id="name" name="name" placeholder="Ingresa tu nombre completo" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Dirección de Correo Electrónico</label>
                        <input type="email" id="email" name="email" placeholder="Ingresa tu correo" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" placeholder="Crea una contraseña" required>
                    </div>
                    <div class="form-actions">
                        <button type="submit">Registrarse</button>
                    </div>
                    <div class="alternate-login">
                        <button>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/2048px-Google_%22G%22_logo.svg.png" alt="Google">
                            Continuar con Google
                        </button>
                        <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
                    </div>
                </form>
            </div>
            <!-- Information Section -->
            <div class="info-section">
                <img src="https://www.marketingdirecto.com/wp-content/uploads/2020/04/moda.jpg" alt="Crea tu cuenta fácilmente">
                <h2>Regístrate y encuentra los mejores precios</h2>
                <p>Únete ahora para acceder a las mejores ofertas en tiempo real.</p>
            </div>
        </div>
    </div>
    

    
</body>
</html>
